# Binaries
*.exe
*.dll
*.so
*.dylib
bin/
server
worker

# Test
*.test
coverage.out
coverage.html

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Images (тестовые файлы)
*.jpg
*.jpeg
*.png
*.gif

# Monitoring data
prometheus_data/
loki_data/
grafana_data/